$color: (
    white: #fff,
    lightBlue: #2f7ef5,
    blue: rgb(25, 1, 161),
    darkRed: rgb(112, 8, 8),
    button: rgb(56, 56, 207),
);

$border: (
    one: 1px solid black,
    two: 1px solid yellowgreen,
);
